name: Build and Publish
on: push

jobs:
  build-n-publish:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Cache Gradle
        uses: actions/cache@v2.1.5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: 'adopt'

      - name: Gradle Build
        uses: burrunan/gradle-cache-action@v1.10
        with:
          arguments: build
          gradle-version: wrapper
          save-local-build-cache: ${{github.ref == 'refs/heads/master'}}
          save-generated-gradle-jars: ${{github.ref == 'refs/heads/master'}}

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_SEMANTIC_RELEASE }}
        with:
          extra_plugins: |
            @semantic-release/changelog
            gradle-semantic-release-plugin
            @semantic-release/git
